img {
	max-width: 100%;
}
.head-bar {
	position: relative;
	height: 80px;
	background-color: $color-primary;
	text-align: center;
	.top-redirect {
		position: absolute;
		top: 20px;
		left: 30px;
		i {
			font-size: 36px;
			color: $color-primary-dark;
		}
	}
	.top-avatar {
		position: absolute;
		top: 15px;
		right: 30px;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
	.main-logo {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-top: 12px;
		svg {
			fill: $color-secondary;
		}
	}
}
.avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
