/// Buttons
/// @TODO: button type & status

.button {
    display: inline-block;
    width: auto;
    line-height: 1;
    position: relative;

    -webkit-appearance: none;
    border: 0;
    border-radius: 28px;
    outline: 0;

    background-color: $color-primary;

    color: $white;
    font-family: $font-primary;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

    padding: 19px 20px;
    transition: background-color .25s ease, color .25s ease;

    [type=submit] &, button & {
        cursor: pointer;
        line-height: normal;
        vertical-align: top;
    }
    i {
        transition: background-color .25s ease, color .25s ease;
        color: $color-primary-dark;
        font-size: 32px;
        margin-top: -6px;
        display: inline-block;
        vertical-align: text-top;
    }

    &:hover, &:focus {
        color: $white;
        background-color: $color-primary-light;
        text-decoration: none;
    }
    &:after {
        position: absolute;
        top: -15px;
        right: -30px;
        width: 39px;
        height: 34px;
        background: url('/assets/front/images/website/leaf.png') no-repeat;
        content: "";
    }
    &.no-leaf {
        &:after {
            display: none;
        }
    }
    /// Modifiers
    /// Sizes
    &--small {
      padding: 0 0.5em;
      height: ($form-height * .75);
      line-height: ($form-height * .75);
      font-size: small;
    }

    &--big {
      padding: 0 1.5em;
      height: ($form-height * 1.25);
      line-height: ($form-height * 1.25);
      font-size: 2rem;
    }

    &--full {
      width: 100%;
    }

    /// States
    &--disabled {

    }
}
