/// ALL input styling goes here!

input[type="text"],
input[type="password"],
textarea,
button {
    -webkit-appearance:none;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="date"],
input[type="datalist"],
input[type="time"] {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 5px 10px;
    color: $color-primary-dark;
    font-size: 17px;
    border: 1px solid $color-primary-light;
    border-radius: 30px;
    width: 100%;
    background-color: transparent;
    transition: background-color .25s ease, border .25s ease, color .25s ease;
    &:active,
    &:focus {
        color: $color-primary-dark;
        background-color: rgba(255, 255, 255, .2);
    }
    .has-error & {
        border: 2px solid $color-primary;
    }
}

textarea {
    overflow: hidden;
    resize: none;
    height: 160px;
    padding: 5px;
    border: 1px solid #ccc;
    transition: box-shadow .25s ease, border .25s ease, color .25s ease;
    border-radius: 5px;
    color: $color-primary-dark;
    &:active,
    &:focus {
        color: $color-default;
        border-color: $color-default;
    }
}
.form-line {
	label {
		font-size: 16px;
		color: $color-default;
		margin-bottom: 5px;
		display: block;
		margin-top: 5px;
        &.choice-label {
            display: inline-block;
            margin-right: 10px;
        }
	}
	.button {
		margin-top: 30px;
		margin-right: 30px;
		min-width: 195px;
	}
	.line-error {
		font-size: 14px;
		color: #D14;
	}
}
.small-link {
	font-size: 14px;
	font-weight: 500;
	color: $color-default;
}
.btn {
  background-color: $color-secondary;
  height: 68px;
  line-height: 68px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
  color: $color-primary-dark;
  text-transform: uppercase;
  border-radius: 0;
  outline: none !important;
  transition: background-color .25s ease, color .25s ease;
  &:hover {
    background-color: $color-secondary-dark;
  }
}
