.wrap-login {
  background: url('/images/body-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 690px;
  .h1,
  .h3 {
    color: $color-secondary;
  }
  .h3 {
    font-weight: normal;
  }
  .h1 {
    margin-bottom: 50px;
  }
  text-align: center;
  .wrap-login-content {
    position: relative;
    padding-top: 68px;
    padding-left: 80px;
    padding-right: 80px;
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color-primary;
    opacity: .7;
    top: 0;
    left: 0;
  }
  form {
    padding-top: 100px;
  }
  .btn {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
  }
}
.logo {
  svg {
    fill: $color-secondary;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid $color-secondary;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
}
.form-line {
  position: relative;
  margin-bottom: 20px;
  &.form-submit {
    position: static;
  }
  &.form-icon {
    .control {
      padding-left: 45px;
    }
    .label {
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 12px;
      svg {
        width: 30px;
        height: 30px;
        fill: $color-primary-light;
      }
    }
  }
}
