.post-list,
.post-item-detail {
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.channel-name {
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid $color-primary-light;
  border-radius: 18px;
  transition: color .25s, background-color .25s, border .25s;
  &:hover,
  &.active {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-primary-dark;
    text-decoration: none;
  }
}
.post-item {
  border-bottom: 1px solid $gray-light;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .channel-name {
    float: right;
  }
  &.post-item-detail {
    padding-bottom: 0;
    margin-bottom: 0;
    .channel-name {
      float: none;
    }
  }
  header {

  }
  .author {
    .avatar {
      margin-right: 15px;
    }
    span {
      font-weight: 600;
      font-size: 18px;
      vertical-align: middle;
      color: $color-default;
    }
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .post-entry {
    color: $color-primary;
    i {
      font-size: 20px;
      vertical-align: text-top;
      display: inline-block;
      margin-right: 10px;
      margin-top: 1px;
    }
  }
  .content {
    p {
      font-size: 18px;
    }
  }
  .post-action {
    color: $color-primary;
    margin-right: 40px;
    i {
      font-size: 20px;
      display: inline-block;
      vertical-align: text-top;
    }
    &.subscribed {
      color: $color-secondary;
    }
    &.liked {
      color: $red;
    }
  }
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 390px;
  background-color: $color-primary-dark;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .25s ease;
  .sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: $color-primary;
    padding-bottom: 5px;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        bottom: -5px;
        left: 0;
      }
    }
  }
  .filter-link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    &.active,
    &:hover {
      color: $color-secondary;
      text-decoration: none;
    }
  }
  .filter-btn {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    &.active,
    &:hover {
      color: $color-primary-dark;
      background-color: $color-secondary;
      border-color: $color-secondary;
      text-decoration: none;
    }
  }
  .btn-search {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 120%;
    padding: 10px;
    span {
      display: block;
      text-align: center;
      font-size: 12px;
      color: $color-primary;
    }
  }
}
.wrap-body {
  transform: translateX(0);
  transition: transform .25s ease;
}
.sidebar-opened {
  transform: translateX(390px);
  transition: transform .25s ease;
}
.wrap-date-filter {
  margin-bottom: 20px;
}
.post-item-detail {
  padding: 0;
  article {
    padding: 15px;
    padding-top: 0;
    &.post-header {
      padding-top: 20px;
    }
  }
  .subscribe-list {
    padding-top: 15px;
    border-top: 1px solid $gray-light;
    div {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $gray-light;
      span {
        display: inline-block;
        margin-right: 15px;
      }
      a {
        margin-right: 15px;
        img {
          margin-top: -3px;
        }
      }
    }
  }
}
.tab-panel {
  padding: 20px 15px;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  ul {
    margin-bottom: 0;
    text-align: center;
    li {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        height: 14px;
        background-color: $gray-light;
        top: 50%;
        margin-top: -7px;
      }
      a {
        color: #8c8c8c;
        i {
          color: $gray;
        }
        &.active {
          color: $color-secondary-dark;
          i {
            color: $color-secondary-dark;
          }
        }
      }
    }
  }
}
.wrap-slider {
  padding-top: 20px;
  padding-bottom: 20px;
  .owl-stage {
    padding-left: 15px !important;
    img {
      border-radius: 10px;
      min-height: 120px;
    }
  }
}
.pt0 {
  padding-top: 0 !important;
}
#google-map {
  height: 200px;
  > div {
        border-radius: 10px;
  }
}
.post-header {
  h3 {
    color: $color-primary-dark;
  }
}
.post-author {
  .author {
    display: inline-block;
    width: 60px;
    float: left;
    margin-right: 15px;
    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
  .author-name {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  .post-time {
    color: $gray;
  }
}
.box-entry {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $gray-light;
  p {
    margin-bottom: 0;
  }
  h3 {
    position: relative;
    padding-left: 12px;
    &:before {
      display: inline-block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      background-color: $color-primary;
      border-radius: 8px;
    }
  }
  .col-xs-6 {
    font-size: 30px;
    p {
      color: $color-secondary;
      font-size: 46px;
      span {
        font-size: 20px;
      }
    }
    img {
      margin-right: 15px;
    }
  }
  .text-center {
    text-align: center;
  }
  .start-time {
    border-right: 1px solid $gray-light;
  }
}
.map-wrap {
  p {
    margin-bottom: 15px;
  }
}
.comments {
  .comment-item {

  }
  .comment-avatar {
    float: left;
    margin-right: 15px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .comment-content {
    a {
      font-weight: normal;
      span {
        strong {
          font-weight: normal;
          font-size: 20px;
          color: $color-primary;
          margin-right: 10px;
        }
        color: $gray
      }
    }
    overflow: hidden;
  }
}
