@include max-screen(480px) {
  .sidebar {
    width: 260px;
    .filter-link {
      font-size: 14px;
    }
    .filter-btn {
      margin-right: 5px;
    }
    .sidebar-content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .sidebar-opened {
      transform: translateX(260px);
  }
  .head-bar {
    .top-redirect {
      left: 15px;
    }
    .top-avatar {
      right: 15px;
    }
  }
}
