$purple      : #8560A9;
$purple-dark : #453257;
$purple-light: #D3C1E5;

$green       : #D5EF7F;
$green-dark  : #aecb4f;
$green-darker: #788c36;
$green-light : #e5f7a9;

$smoke     : #faf9fc;
$gray      : #bababa;
$gray-dark : #666;
$gray-light: #e8e8e8;
$red       : #ff5c5c;

$color-default: #67616d;


$color-primary         : $purple;
$color-primary-dark    : $purple-dark;
$color-primary-light   : $purple-light;

$color-secondary       : $green;
$color-secondary-dark  : $green-dark;
$color-secondary-darker: $green-darker;
$color-secondary-light : $green-light;
